.body {
  width: 100%;
  background-color: var(--gray);

  .content {

	margin: 30px 20px;

	.summaryBlock {

	  display: flex;
	  margin-bottom: 50px;

	  .decoration {
		min-width: 3px;
		min-height: 100%;
		margin-top: 20px;
		background-color: var(--primary);
	  }

	  .description {
		padding-left: 25px;

		.descriptionWithImageBlock {
		  display: flex;
		  margin-bottom: 0;

		  .descriptionWithImage {
			li {
			  margin-left: 10px;
			}
		  }

		  .descriptionImage {
			display: none;
			width: 200px;
			height: 180px;
			//border-radius: 15px;
			overflow: hidden;
            margin-left: 10px;
		  }
		}
	  }
	}
  }

}


