.container {
  display: flex;
  justify-content: center;
}

.contentWrapper {
  display: flex;
  height: 100%;
  width: 1000px;
  margin: 15px;
  border: 1px solid var(--graphit);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 10px #888888;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}





.content {
  flex: 2;
  background-color: #fdfdfd;
}

@media (max-width: 480px) {
  .contentWrapper {
    flex-direction: column;
  }

  .contacts {
    margin-left: 20px;
  }
}
