.container {
  display: flex;
  justify-content: center;
}

.contentWrapper {
  display: flex;
  height: 100%;
  width: 1000px;
  margin: 15px;
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
}



.hr {
  background-color: var(--primary);
  width: 80%;
  margin-top: 20px;
}

.content {
  flex: 2;
  background-color: #fdfdfd;
}

@media (max-width: 480px) {
  .contentWrapper {
    flex-direction: column;
  }

  .contacts {
    margin-left: 20px;
  }
}
