.sidebar {
  flex: 1;
  background-color: #292929;
  color: white;
  text-align: center;
}

.h1 {
  margin-bottom: 5px;
}

.h3 {
  margin-top: 0;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 40px;
}

.contact {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.icon {
  color: #8de5bd;
  margin-right: 10px;
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: white;
}

.hardSkills {
  padding: 0 25px;
}

.skill {
  margin-top: 0;
  margin-bottom: 10px;
}

.hr {
  background-color: #8de5bd;
  width: 80%;
  margin-top: 20px;
}

.content {
  flex: 2;
  background-color: #8de5bd;
}

@media (max-width: 480px) {
  .contentWrapper {
    flex-direction: column;
  }

  .contacts {
    margin-left: 20px;
  }
}
