@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

a {
  text-decoration: none;
}


:root {
  --primary: #8de5bd;
  --gray: #fdfdfd;
}



