.container {
  height: 100vh;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  position: relative;
}

.knuckle {
  position: absolute;
  width: 65px;
  height: 70px;
  left: 341px;
  top: 11px;
}

@media (max-width: 768px) {
  .main {
    max-width: 250px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .knuckle {
    left: 39px;
    top: 87px;
  }
}
